/*CSS FOR DEPARTMENTS HTML*/

/* START OF NAVBAR CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.logopic {
  height: auto;
  width: 60px;
  margin-right: 10px;
  margin-left: 20px;
  margin-top: -6.5%;
  position: fixed;
  z-index: 101;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: seagreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.navbar {
  display: flex;
}

.navbar a {
  position: relative;
  font-size: 17.5px;
  letter-spacing: 1;
  color: #fff;
  font-weight: 505;
  text-decoration: none;
  margin-left: 50px;
}

.navbar a::before {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: .3s;
}

.navbar a:hover::before {
  width: 100%;
}

.checkbtn {
  display: none;
  margin-left: auto;
  color: #fff;
  font-size: 25px;
}

.side-menu {
  display: none;
  margin-top: 67px;
  position: fixed;
  top: -250px;
  left: 0px;
  /* Initially hidden */
  width: 100%;
  height: 20%;
  background: seagreen;
  z-index: 2;
  overflow-y: hidden;
  transition: 0.3s;
}

.side-menu.active {
  top: 0;
  /*SLIDES IN WHEN ACTIVE*/
}

.side-menu ul {
  justify-content: center;
  list-style: none;
  padding-top: 10px;
  padding: 20px;
}

.side-menu li {
  text-align: center;
  margin-bottom: 15px;
}

.side-menu a {
  text-decoration: none;
  color: white; 
  font-size: 18px;
}

.side-menu a:hover {
  color: #ffd517;
}
/*END OF NAVBAR CSS*/
  
#title {
  font-size: 35px;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  margin-top: 7%; 
  margin-bottom: 10px;
  z-index: 99; 
}

.cont {
  display: flex;
  justify-content: center; 
}

.card {
  position: relative;
  align-items: center;
  height: 650px;
  margin: 8px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
  margin-top: 50px;
  justify-content: center; 
  align-items: center; 
  display: flex;
  flex-direction: column;
}

#depts {
  height: 350px;
  width: 285px;
  border-radius: 3px;
  align-items: center;
  margin-bottom: 50px;
  margin-top: -80%;
}

.intro {
  height: 150px;
  width: 330px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  color: white;
  transition: height 0.2s ease, background 0.2s ease;
  justify-content: center; 
  align-items: center; 
}

h1 {
  margin: 10px;
  font-size: 25px;
  align-items: center;
  text-align: center; 
}

p {
  font-size: 15px;
  margin: 15px 20px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;
  text-align: center; 
}

.card:hover {
  cursor: pointer;
}

.card:hover .intro {
  height: 300px;
  transition: height 0.2s ease, background 0.2s ease;
}

.card:hover p {
  opacity: 1;
  visibility: visible;
}

.cahs-intro {
  background: rgba(255, 0, 0, 0.5);
}

.cba-intro {
  background: rgba(235, 235, 24, 0.596);
}

.ccs-intro {
  background: rgba(255, 166, 0, 0.579);
}

.ceas-intro {
  background: rgba(0, 0, 255, 0.5);
}

.chtm-intro {
  background: rgba(255, 20, 147, 0.5);
}

.card:hover .cahs-intro {
  background: red;
}

.card:hover .cba-intro {
  background: rgb(202, 202, 13);
}

.card:hover .ccs-intro {
  background: darkorange;
}

.card:hover .ceas-intro {
  background: rgba(0, 0, 255, 0.8);
}

.card:hover .chtm-intro {
  background: rgba(226, 7, 124, 0.8);
}

/*START OF FOOTER CSS*/

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: rgb(6, 50, 6);
  padding: 70px 0;
  margin-top: 8%;
  display: flex; 
  justify-content:space-between; 
  flex-wrap: wrap;
}

.footer-col {
  flex: 1 1 25%; 
  padding: 10px;
  margin-top: -2%;
  min-width: 200px; 
  box-sizing: border-box;
}

.footer-col h4 {
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #fafafa;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgb(9, 62, 9);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #24262b;
	background-color: #ffffff
}

/* MEDIA QUERIES */
@media (max-width: 952px) {
    .navbar ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100;
      text-align: center;
      transition: all .5s;
  }
  
    .navbar a {
      display: none;
      margin: 50px 0;
      line-height: 30px;
      font-size: 20px;
  }
  
    .side-menu {
      display: block;
  }
  
    .side-menu a {
      color: white
  }
  
   .checkbtn {
      display: block;
      /*DISPLAYS CHECKBTN ONCE SCREEN IS SMALL*/
      margin-left: auto;
  }
  
    .navbar a {
      margin-top: 10px;
      font-size: 15px;
      margin-right: -20px;
    }
  
    .footer {
      height: 100vh;
    }
  
    .footer-col {
      width: 45%;
    }
  
    .content p {
      margin-left: 10px;
      font-size: medium;
    }
  
    .logopic {
      display: none;
    }
  
    h1 {
      margin-top: 10%;
    }
  }  

@media (max-width: 760px) {
  .navbar ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100;
    text-align: center;
    transition: all .5s;
}

  .navbar a {
    display: none;
    margin: 50px 0;
    line-height: 30px;
    font-size: 20px;
}

  .side-menu {
    display: block;
}

  .side-menu a {
    color: white
}

 .checkbtn {
    display: block;
    /*DISPLAYS CHECKBTN ONCE SCREEN IS SMALL*/
    margin-left: auto;
}

  .navbar a {
    margin-top: 10px;
    font-size: 15px;
    margin-right: -20px;
  }

  .footer {
    height: 100vh;
  }

  .footer-col {
    width: 45%;
  }

  .content p {
    margin-left: 10px;
    font-size: medium;
  }

  .logopic {
    display: none;
  }

  h1 {
    margin-top: 10%;
  }
} 

@media (min-width: 375px) and (max-width: 800px) {
  .navbar ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100;
    text-align: center;
    transition: all .5s;
}

  .navbar a {
    display: none;
    margin: 50px 0;
    line-height: 30px;
    font-size: 20px;
}

  .side-menu {
    display: block;
}

  .side-menu a {
    color: white
}

 .checkbtn {
    display: block;
    /*DISPLAYS CHECKBTN ONCE SCREEN IS SMALL*/
    margin-left: auto;
}

  .navbar a {
    margin-top: 10px;
    font-size: 15px;
    margin-right: -20px;
  }

  .footer {
    height: 100vh;
  }

  .footer-col {
    width: 45%;
  }

  .content p {
    margin-left: 10px;
    font-size: medium;
  }

  .logopic {
    display: none;
  }

  h1 {
    margin-top: 42%;
  }
} 

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100;
    text-align: center;
    transition: all .5s;
}

  .navbar a {
    display: none;
    margin: 50px 0;
    line-height: 30px;
    font-size: 20px;
}

  .side-menu {
    display: block;
}

  .side-menu a {
    color: white
}

 .checkbtn {
    display: block;
    margin-left: auto;
}

  .navbar a {
    margin-top: 10px;
    font-size: 15px;
    margin-right: -20px;
  }

  .footer {
    height: 100vh;
  }

  .footer-col {
    width: 45%;
  }

  .content p {
    margin-left: 10px;
    font-size: medium;
  }

  .logopic {
    display: none;
  }

  h1 {
    margin-top: 10%;
  }
}

@media (min-width: 400px) and (max-width: 770px) {
  h1 {
    margin-top: 15%;
  }
}

@media (min-width: 300px) and (max-width: 545px) {
  h1 {
    margin-top: 25%;
  }
}

@media (max-width: 390px)  {
  h1 {
    margin-top: 50%;
  }
}
/*END OF FOOTER SECTION*/